RewriteEngine On 

RewriteCond %{REQUEST_URI} authors
RewriteRule ^(.*)$ index.php [L]

RewriteCond %{REQUEST_URI} categories
RewriteRule ^(.*)$ index.php [L]

RewriteCond %{REQUEST_URI} quotes
RewriteRule ^(.*)$ index.php [L]